@charset "utf-8";

/* CSS Document */
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Galano Grotesque", sans-serif;
  background: #f2eee5;
}

.container-fluid {
  width: 90% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*---===== Header Part ====----*/

button {
  border: none;
  background: transparent;
  outline: none;
}

.ActiveButton {
  background: #FEC85B;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.12);
  border-radius: 12px;

}

button:focus {
  outline: 0 auto -webkit-focus-ring-color !important;
}

.button-Effect {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.button-Effect:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.cursor-pointer {
  cursor: pointer !important;
}

header {
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 999;
  margin-top: 50px;
}

header .navbar {
  padding: 0 1rem;
}

header .navbar-light .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.92);
}

header .navbar-light .navbar-nav .active>.nav-link,
header .navbar-light .navbar-nav .nav-link.active,
header .navbar-light .navbar-nav .nav-link.show,
header .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(255, 255, 255, 0.92);
}

header .navbar-nav .nav-link {
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.92) !important;
  cursor: pointer;
}

header .flexsocial .nav-link {
  background: #f2eee5;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 12px 26px !important;
  color: #10393b !important;
}

header .navbar-brand img {
  vertical-align: middle;
  border-style: none;
}

header .navbar-nav {
  width: 100%;
}

header .navbar-nav .nav-item {
  margin: 0 10px;
}

header .navbar-nav .nav-item:last-child {
  margin: 0 0 0 10px !important;
}

header .flexsocial li {
  display: inline-flex;
}

header .navbar-nav .d-flexRight {
  display: flex;
  margin: 0 auto;
}

header .navbar-dark .navbar-nav .d-flexRight .nav-item {
  display: flex;
  align-items: center;
  margin: 0 50px 0 0;
}

/*---===== Header Part ====----*/
.sliderpart {
  position: relative;
  background: #133e44;
  padding: 207px 0 106px;
}

.overlay_slider {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/sliderBg.png) no-repeat;
  background-size: cover;
}

.sliderpart h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 106px;
  letter-spacing: -0.462554px;
  color: #ffffff;
  margin: 0;
}

.sliderpart h1 span {
  color: #ff915a;
}

.sliderpart p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.76);
  width: 80%;
  margin: 28px 0 45px;
}

.sliderpart .imgright {
  width: 100%;
}

.sliderpart form .form-group {
  margin-bottom: 28px;
}

.sliderpart form input {
  background: #ffffff;
  border-radius: 15px;
  padding: 19px 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #5e797a;
  border: none;
  outline: none;
  margin: 0 12px 0 0;
  width: 54%;
}

.sliderpart form button {
  padding: 20px 43px;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.92);
  border: none;
}

.sliderpart form label {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.76);
  margin: 0;
}

.sliderpart .col-md-5 {
  max-width: 45%;
  flex: 0 0 45%;
}

.sliderpart .col-md-7 {
  max-width: 55%;
  flex: 0 0 55%;
}

@media (max-width: 1728px) {
  .sliderpart .col-md-5 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .sliderpart .col-md-7 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 1440px) {
  .sliderpart .col-md-5 {
    max-width: 55%;
    flex: 0 0 55%;
  }

  .sliderpart .col-md-7 {
    max-width: 45%;
    flex: 0 0 45%;
  }
}

@media (max-width: 1366px) {
  .sliderpart h1 {
    font-size: 86px;
  }

  .sliderpart form button {
    padding: 20px 40px;
  }

  .sliderpart form input {
    width: 52%;
  }
}

/***----=== Client Part ====----***/
.clientprt {
  width: 100%;
  padding: 72px 0 79px;
}

.clientprt p {
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0f393b;
  margin: 0 0 45px;
}

.clientprt img {
  width: 100%;
  mix-blend-mode: darken;
}

/***----=== Client Part ====----***/

/***----=== Feature Slider Part ====----***/
.featureSlider {
  width: 100%;
  margin: 0 0 70px;
}

.featureSlider .slidehead {
  text-align: center;
}

.featureSlider .slidehead h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.462554px;
  color: #10393B;
  margin: 0 0 29px;
}

.featureSlider .slidehead p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  margin: 0 0 40px;
}

.sliderdiv {
  width: 100%;
}

.sliderdiv .slideDesign {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 35px 64px;
  text-align: center;
}

.sliderdiv .slideDesign h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.462554px;
  color: #10393B;
  margin: 34px 0 0;
}

/***----=== Feature Slider Part ====----***/

/***----=== CusServis Part ====----***/
.cusServis {
  width: 100%;
  margin: 69px 0 175px;
  display: inline-block;
}

.cusServis .cusmargi97 {
  margin-top: 97px;
}

.cusServis .imgwidth {
  width: 100%;
}

.cusServis .cusServisDetsils h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.462554px;
  color: #10393B;
  margin: 0 0 29px;
}

.cusServis .cusServisDetsils p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  margin: 0 0 46px;
}

.cusServis .cusServisDetsils ul {
  margin: 0 0;
  padding: 0;
}

.cusServis .cusServisDetsils ul li {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 0 39px;
}

.cusServis .cusServisDetsils ul li img {
  margin: 0 16px 0 0;
}

.cusServis .cusServisDetsils button {
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.92);
  padding: 20px 42px;
  margin-top: 11px;
}

.serlogoul li img {
  margin: 0 50px 80px 0 !important;
}

.serlogoul li {
  display: initial !important;
}

/***----=== CusServis Part ====----***/

/***----=== Training Support Part ====----***/
.training-support {
  padding: 130px 0;
  background: #FEC85B;
}

.training-support h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.462554px;
  color: #10393B;
  text-align: center;
  margin: 0 0 78px;
}

.training-support .trainingDesign {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 45px 24px;
  margin: 30px 0 0;
}

.training-support p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  text-align: justify;

}

.training-support .trainingDesign h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 29px;
  color: #10393B;
  margin: 29px 0 9px;
}

.training-support .trainingDesign p {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #68807F;
  margin: 0;
  min-height: 110px;
}

.training-support .cusServisDetsils h2 {
  font-weight: 600;
  font-size: 43px;
  line-height: 70px;
  letter-spacing: -0.462554px;
  color: #10393B;
  margin: 0 0 29px;
}

.training-support .cusServisDetsils p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  margin: 0 0 46px;
}


@media (max-width:1440px) {
  .training-support .trainingDesign p {
    min-height: 150px;
  }
}

@media (max-width:1199px) {
  .training-support .trainingDesign p {
    min-height: 200px;
  }
}

/***----=== Training Support Part ====----***/

/***----=== Testimonial Part ====----***/
.testimonialpart {
  width: 100%;
  padding: 108px 0;
}

.testimonialpart h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.462554px;
  color: #10393B;
  text-align: center;
  margin: 0 auto 73px;
}

.teamSliderDesign {
  margin: 0 0 0 5%;
}

.team-container {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 25px;
  position: relative;
}

.testimonialpart .testiQuete {
  position: relative;
  left: 31px;
  top: 44px;
  z-index: 9;
}

.team-container h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #17434C;
  margin: 0 0 16px;
}

.team-container p {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #68807F;
}

.team-container img {
  width: 100%;
}

@media (max-width:1280px) {
  .teamSliderDesign {
    margin: 0 0 0 0%;
  }
}

/***----=== Testimonial Part ====----***/

/***----=== Favorite Tools Part ====----***/
.favorite-tools {
  width: 100%;
  margin: 0 0 135px;
  text-align: center;
}

.favorite-tools h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.462554px;
  color: #10393B;
  text-align: center;
  margin: 0 0 80px;
}

.favorite-tools h2 span {
  display: block;
}

.favorite-tools img {
  margin: 15px 0;
}

.favorite-tools h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.462554px;
  color: #10393B;
  margin: 0 0 9px;
}


.favorite-tools .cusServisDetsils h2 {
  font-weight: 600;
  font-size: 43px;
  line-height: 50px;
  letter-spacing: -0.462554px;
  color: rgba(16, 57, 59, 0.69);
  margin: 0 0 29px;
  text-align: left;
}

.favorite-tools .cusServisDetsils p {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(16, 57, 59, 0.69);
  margin: 0 0 46px;
  text-align: left;
}


.favorite-tools .trainingDesign {
  background: #FFFFFF !important;
  border-radius: 15px;
  padding: 45px 24px;
  margin: 30px 0 0;
  width: 90%;
}

.favorite-tools .trainingDesign h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #10393B;
  margin: 2px 0 15px;
}

.favorite-tools .trainingDesign p {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #68807F;
  margin: 0;
  /* min-height: 110px; */
}

.favorite-tools .trainingDesign .highlight {
  padding: 6px 19px 6px 19px;
  color: #5DB862;
  background: rgba(93, 184, 98, 0.17) !important;
  border-radius: 24.5px;
  font-weight: 500 !important;
}

.favorite-tools .trainingDesign img {
  margin-top: -100px;
}

/***----=== Favorite Tools Part ====----***/

.footbtpart {
  position: relative;
  background: #133e44;
  padding: 149px 0 108px;
  text-align: center;
  position: relative;
}

.footbgtop {
  position: absolute;
  top: 0;
  left: 0;
}

.footbgbottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.overlay_footbt {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/footbtBg.png) no-repeat;
  background-size: 100% 100%;
}

.overlay_footbtup {
  background: url(../images/footbtBgup.png) no-repeat;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.footbtpart h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  font-family: "Axiforma", sans-serif !important;
}

.footbtpart button {
  font-weight: 590;
  font-size: 21px;
  line-height: 32px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.92);
  background: #FFFFFF;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 20px 43px;
  margin: 80px 0 0;
}

.footdetails {
  position: relative;
  width: 42%;
}

.footdetails .vctimgpo1 {
  position: absolute;
  left: -106px;
  bottom: 0;
}

.footdetails .vctimgpo2 {
  position: absolute;
  right: -170px;
  top: 0;
}

@media (max-width:1440px) {
  .footbtpart h2 {
    font-size: 45px;
  }
}

@media (max-width:1366px) {
  .footdetails {
    width: 48%;
  }

  .footdetails .vctimgpo1 {
    left: -85px;
    bottom: -14px;
  }

  .footdetails .vctimgpo2 {
    right: -127px;
  }
}



footer {
  background: #fec85b;
  padding: 70px 0;
  font-family: "Axiforma", sans-serif !important;
}

footer .footlogo img {
  width: 100%;
}

footer h2 {
  font-weight: 600;
  font-size: 19px;
  line-height: 31px;
  color: #000000;
  margin: 0;
}

footer ul {
  margin: 0 0 40px;
  padding: 0;
}

footer ul li {
  list-style-type: none;
  margin-top: 19px;
}

footer ul li button {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

footer ul span li img {
  margin-right: 13px;
}

.coppyrightbg {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

/****-------====== Pricing =======-----***/
.pricignslide {
  padding-bottom: 318px !important;
  position: relative;
}

.rightprictop {
  position: absolute;
  top: 45%;
}

.pricignslide .vctimgpo3 {
  position: absolute;
  left: -115px;
  top: -70px;
}

.pricignslide .vctimgpo4 {
  position: absolute;
  right: -100px;
  top: -30px;
}

.pricignslide h1 {
  font-size: 80px !important;
  line-height: 88px !important;
  text-align: center;
}

.planpricign {
  margin: -300px 0 0;
}

.planpricign .chetoggle {
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  margin: 50px auto 87px;
  display: flex;
  justify-content: center;
}

.planpricign .chetoggle .yearclr {
  color: #A0A9B0 !important;
}

.planpricign .chetoggle span {
  padding: 0 8px;
}

.planpricign .chetoggle input {
  display: block;
  opacity: 0;
  position: absolute;
}

.planpricign .chetoggle input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  width: 14px;
  height: 14px;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  margin-right: -10px;
  cursor: pointer;
  border: 1px solid #c5c3c3;
  border-radius: 2px;
  float: right;
}

.planpricign .chetoggle label {
  position: relative;
  width: 30px;
  height: 18px;
  display: inline-block;
  background: rgba(160, 169, 176, 0.2);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  margin-bottom: 0;
}

.planpricign .chetoggle label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 1px 3px 6px #6C6F73;
}

.planpricign .chetoggle input:checked+label {
  background: #FEC85B;
}

.planpricign .chetoggle input:checked+label::after {
  left: auto;
  right: 2px;
}


.pricingboxDs {
  background: #FFFFFF;
  border: 1px solid rgba(160, 169, 176, 0.5);
  border-radius: 15px;
  padding: 24px;
  margin: 0 0 30px;
}

.pricingboxDs.activebrder {
  border: 1px solid #FEC85B !important;
}

.pricingboxDs h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #10393B;
  margin: 0 0 15px;
}

.pricingboxDs h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  color: #10393B;
  margin: 0;
}

.pricingboxDs .rangesli {
  margin: 20px 0 0;
}

.pricingboxDs .rangesli h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #606F7B;
  margin: 8px 0 0;
}

.pricingboxDs h1 span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #606F7B;
}

.pricingboxDs p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #68807F;
  text-align: center;
  margin: 24px 0 6px;
}

.pricingboxDs ul {
  margin: 0;
  padding: 0;
}

.pricingboxDs ul li {
  list-style-type: none;
  margin: 0 0 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.02em;
  color: #68807F;
}

.pricingboxDs ul li img {
  margin: -12px 0 0;
}

.pricingboxDs button {
  background: #FEC85B;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Inter', sans-serif;
  padding: 12px 48px;
  margin: 33px auto 0;
  display: block;
}

.planpricign .pricihead {
  margin-top: 43px !important;
  text-align: center;
}

.planpricign .pricihead h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.462554px;
  color: #10393B;
  margin: 0 0 29px;
}

.planpricign .pricihead p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  margin: 0 0 40px;
}

.planpricign .pricihead button {
  padding: 20px 69px;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.92);
}

.tablepriciView {
  width: 100%;
}

.tablepriciView h1 {
  font-weight: 600;
  font-size: 51px;
  line-height: 56px;
  letter-spacing: -0.462554px;
  color: #10393B;
  margin: 0 0 58px;
  text-align: center;
}

.tablepriciView p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  margin: 0 0 55px;
  text-align: center;
}

.tablepriciView th {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #10393B;
}

.tablepriciView thead {
  background: #FFFFFF;
  border-radius: 15px;
}

.tablepriciView .table thead th {
  vertical-align: bottom;
  border-bottom: 0 solid #dee2e6;
}

.tablepriciView .table thead th:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.tablepriciView .table thead th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tablepriciView .table td {
  padding: 30px 44px;
  vertical-align: middle;
  border-top: 0 solid #dee2e6;
}

.tablepriciView .table th {
  padding: 38px 44px;
  vertical-align: middle;
  border-top: 0 solid #dee2e6;
}

.tablepriciView table td {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
}

.pricing-faq {
  width: 100%;
  margin: 80px 0px 200px 0;
}

.pricing-faq h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.462554px;
  color: #10393B;
  text-align: center;
  margin: 0 0 69px;
}

.pricing-faq .accordion-heading {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: #ffffff;
  border-radius: 15px;
  margin: 0 0 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #68807F;
}

.pricing-faq .accordion-content {
  padding: 0px 55px 25px 25px;
  text-align: justify;
}

.featureslide {
  padding: 181px 0 28px;
  position: relative;
}

.featureslide h1 {
  font-size: 80px;
  line-height: 80px;
}

.featurerightmar {
  margin-left: 15%;
}

.featurerightimg {
  position: absolute;
  bottom: 16%;
  left: -16%;
}

.featureservi {
  margin: 86px 0 155px;
}

.featureSlipage {
  margin: 126px 0 137px;
}

.featuretools {
  margin: 78px 0 183px;
}



@media (max-width:1728px) {
  .featurerightimg {
    bottom: 13%;
    left: -24%;
  }
}

@media (max-width:1600px) {
  .featurerightimg {
    bottom: 12%;
    left: -26%;
  }
}

@media (max-width:1440px) {
  .featurerightimg {
    bottom: 6%;
    left: -40%;
  }
}




/****-------====== About Css Start =======-----***/
.aboutleadership {
  margin: 78px 0 183px;
}
/****-------====== About Css End =======-----***/


/****-------====== Example Css Start =======-----***/

.example-filter {
  width: 100%;
  padding: 72px 0 72px 0px;
}

.example-filter .search-box {
  justify-content: center;
  margin-top: -110px;
  text-align: center;
  display: flex;
  align-items: center;
}

.example-filter .search-box form .form-group {
  margin-bottom: 28px;
}

.example-filter .search-box form input {
  background: #ffffff;
  border-radius: 15px;
  padding: 23px 68px;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #5e797a;
  border: none;
  outline: none;
}

.example-filter .search-box form button {
  padding: 20px 43px;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.92);
  border: none;
}

.example-filter .search-box form label {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.76);
  margin: 0;
}

.example-filter .search-box form input::placeholder {
  color: #5E797A !important;
}

.example-filter .industry-filter {
  padding: 20px 0 20px 0;
  margin: 0 0 20px 0;
  justify-content: center;
  align-self: center;
}

.example-filter .industry-filter button {
  font-weight: 590;
  font-size: 18px;
  line-height: 28px;
  color: #5E797A;
  background: #FFFFFF;
  /* box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.12); */
  border-radius: 12px;
  padding: 12px 25px;
  margin: 0 12px 18px 0;
  text-align: center;
}


.example-filter .formPositn {
  position: relative;
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 9px;
  border-radius: 15px;
}


.example-filter .form-group .formPositn .imgfrmPs {
  position: absolute;
  top: 35px;
  left: 25px;
  vertical-align: middle;
}

.industry-tabs {
  justify-content: center;
}

.industry-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000000;
  background: #FEC85B;
  border-color: #FEC85B;
  border: none;
}

.industry-filter .nav-tabs {
  border-bottom: none !important;
}

/*  template-filter */


.example-filter p {
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0f393b;
  margin: 0 0 25px;
}


.example-filter .template-filter img {
  width: 100%;
}

.template-filter {
  padding: 20px 0 20px 0;
  margin: 0 0 90px 0;
  justify-content: center;
  align-self: center;
}

.example-filter .template-filter button {
  font-weight: 590;
  font-size: 18px;
  line-height: 28px;
  color: #5E797A;
  background: #FFFFFF;
  /* box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.12); */
  border-radius: 12px;
  padding: 12px 25px;
  margin: 0 12px 12px 0;
  text-align: center;
}

.template-tabs {
  justify-content: center;
}

.template-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000000;
  background: #FEC85B;
  border-color: #FEC85B;
  border: none;
}

.template-filter .nav-tabs {
  border-bottom: none !important;
}

.template-container {
  margin: 65px 0 15px 0;
}

.template-filter .template-container .product-container {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 20px 15px;
  margin-right: 25px;
  width: 22% !important;
}

.template-filter .template-container .product-container h6 {
  align-items: center;
  text-transform: capitalize;
  color: #10393B;
  font-weight: 600;
  font-size: 26px;
}

.template-filter .template-container .product-container p {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #68807F;
  text-align: left;
}

.template-filter .template-container .product-container img {
  border-radius: 15px;
  margin: auto 0 15px 0;
}

.cursor-no-drop {
  cursor: no-drop !important;
}


/* Pagination box css */
.paginationBox {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Galano Grotesque", sans-serif;
}

.paginatext {
  font-size: 18px;
  font-weight: 600;
  margin: auto;

}

.paginationBox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paginationBox ul li {
  color: #5E797A;
  list-style: none;
  line-height: 58px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  margin: 0 5px;
  height: 59px;
  width: 59px;
  border-radius: 11px;
  background: #FFF;
  padding: 0 12px 0 12px;
  align-items: center;

}

.paginationBox ul li img {
  width: auto;
  height: 22px;
  vertical-align: middle;
}


.paginationBox ul li:first-child {
  margin: 0px 3px 0 -5px;
}

.paginationBox ul li:last-child {
  margin: 0px -5px 0 3px;
}

.paginationBox ul li:first-child:hover, .paginationBox ul li:last-child:hover {
  background: #FEC85B;
  color: #151515 !important;
}

.paginationBox ul li.btn {
  padding: 0 20px;
  border-radius: 50px;
}

.paginationBox li.active,
.paginationBox ul li:hover {
  color: #000000;
  background: #FEC85B;
  font-weight: 570;
}


/* Pagination box css */

/****-------====== Example Css End =======-----***/

/****-------====== Login Css Start =======-----***/
.login-container {
  text-align: center;
  padding: 10px 100px 10px 100px;
}

.login-container p {
  width: 50%;
  margin: 35px auto 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 0 25px 0 25px;
}

.login-container .formPositn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 34px;
}

.login-container .form-group .formPositn input {
  padding: 19px 68px !important;
}

.login-container .form-group .formPositn input::placeholder {
  color: #5E797A !important;
}

.login-container .form-group button {
  width: 35%;
}

.login-container .form-group .formPositn .imgfrmPs {
  position: absolute;
  top: 21px;
  left: 257px;
  margin: auto;
  vertical-align: middle;
}

.login-container p span {
  color: #FEC85B;
  cursor: pointer;
}

/****-------====== Login Css End =======-----***/


/****-------====== Get Started Css Start =======-----***/
.get-started-container {
  text-align: center;
}

.get-started-container h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 106px;
  letter-spacing: -0.462554px;
  color: #ffffff;

}

.get-started-container .get-section {
  text-align: center;
  column-gap: 25px;
  line-height: 24px;
  align-items: baseline;
  margin: 0px 0 45px 0;
}

.get-started-container .get-section h4 {
  text-align: center;
  color: #FFF;
  font-weight: normal;
}

.get-started-container .get-section h4 span {
  text-align: center;
  color: #FEC85B;
  padding: 0;
  border-radius: 0%;
  background: transparent;
}

.get-started-container .get-section span {
  text-align: center;
  border-radius: 50%;
  background: #FFF;
  padding: 14px 22px;
  font-weight: 600;

}

.get-started-container .get-section .active {

  background: #FEC85B !important;

}

.get-started-container h3 span {
  color: #FEC85B;
}

.get-started-container p {
  margin: 0 auto 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  padding: 0 25px 0 25px;
}

.get-started-container .form-container {
  margin: 50px 0 0 0;
}

.get-started-container .form-container input {
  width: 100%;
}

.get-started-container .form-container input::placeholder {
  color: #5E797A !important;
}

.get-started-container .form-container .form-group button {
  width: 50%;

}

.get-started-container .form-container .form-group button img {
  vertical-align: middle;
  margin-top: -3px;

}

.get-started-container .form-container p {
  line-height: 50px;

}

.get-started-container p span {
  color: #FEC85B;
  cursor: pointer;
}


.get-started-container .testimonial-head {
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.29);
  border: 4px solid rgba(255, 255, 255, 0.64);
  border-radius: 15px;
  text-align: left;
  padding: 29px;
}

.get-started-container .testimonial-head h5 {
  font-size: 32px;
  color: #FFFFFF;
  align-items: center;
  letter-spacing: 0.02em;
  line-height: 38px;
  font-weight: 500;
}

.get-started-container .testimonial-head p {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.54);
  margin: 0;
  padding: 0;
}

.get-started-container .testimonial-head img {
  vertical-align: middle;
  margin-right: 10px;
  align-items: center;
}

.get-started-container .testimonial-quote {
  background: #fff;
  border-radius: 15px;
  padding: 26px 21px 21px 28px;
  margin-bottom: 25px;

}

.get-started-container .testimonial-quote p {
  color: #68807F !important;
  text-align: justify;
  margin: 0 0 8px 0;
  padding: 0;
  width: 100%;
}

.get-started-container .testimonial-quote img {
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 20px;
  align-items: center;
  width: 70px;
  height: auto;
}

.get-started-container .testimonial-quote .testimonial-quote-author {
  text-align: left;
  line-height: 28px;
}

.get-started-container .testimonial-quote .testimonial-quote-author h6 {
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  text-transform: capitalize;
  color: #10393B;
}

.get-started-container .testimonial-quote .testimonial-quote-author p {
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 0 0;
  letter-spacing: 0.02em;
  color: #68807F;

}

.get-started-container .get-started-faq {
  background: #fff;
  border-radius: 15px;
  padding: 30px 25px 30px 25px;

}

.get-started-container .get-started-faq h6 {
  color: #10393B;
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: left;
}

.get-started-faq .accordion-heading {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 0 0px;
  background: #ffffff;
  border-radius: 15px;
  letter-spacing: 0.02em;
  color: #68807F;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
}

.get-started-faq .accordion-content {
  padding: 0px 55px 0px 0px;
  text-align: justify;
}

/****-------====== Get Started Css End =======-----***/



/* ***** Pricing range slider*** */

input[type=range] {
  -webkit-appearance: none !important;
  appearance: none;
  cursor: pointer !important;
}

input[type=range] {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
}

input[type=range]::-webkit-slider-thumb {
  background: #FFF !important;
  color: #10393B !important;
  outline: solid 4px #10393B !important;
  -webkit-appearance: none !important;
  height: 15px !important;
  width: 15px !important;
  margin-top: -6px !important;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(#10393B, #10393B) 0/var(--sx) 100% no-repeat, #ced4da;
}

input[type=range]:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#10393B, #10393B) 0/var(--sx) 100% no-repeat, #ced4da;
}

input[type=range]:active::-webkit-slider-runnable-track {
  background: linear-gradient(#10393B, #10393B) 0/var(--sx) 100% no-repeat, #ced4da;
}

/* For firefox */
input[type=range]::-moz-range-thumb {
  background: #FFF !important;
  color: #10393B !important;
  outline: solid 4px #10393B !important;
  -webkit-appearance: none !important;
  appearance: none;
  height: 15px !important;
  width: 15px !important;
  margin-top: -6px !important;
}

input[type=range]::-moz-range-track {
  background: linear-gradient(#10393B, #10393B) 0/var(--sx) 100% no-repeat, #ced4da;
}

input[type=range]:hover::-moz-range-track {
  background: linear-gradient(#10393B, #10393B) 0/var(--sx) 100% no-repeat, #ced4da;
}

input[type=range]:active::-moz-range-track {
  background: linear-gradient(#10393B, #10393B) 0/var(--sx) 100% no-repeat, #ced4da;
}

/* For firefox */

/* ***** Pricing range slider*** */